<header>
<nav>
    <div class="nav-wrapper purple darken-3">
      <a href="/home" class="brand-logo left">Nebula Festival</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/lineup">Line Up</a></li>
        <li><a href="/artist">Artist</a></li>
        <li><a href="/">Log Out</a></li>
      </ul>
    </div>
    </div>
  </nav>
</header>

