<header>
<nav>
    <div class="nav-wrapper purple darken-3">
      <a href="#" class="brand-logo right">Your Dream Festival</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/lineup">Line Up</a></li>
        <li><a href="/artist">Artist</a></li>
      </ul>
    </div>
    </div>
  </nav>
</header>

