
<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>

<div class="parallax-container">
    <div class="parallax">
    <video autoplay loop muted class="show" style="transform: translateX(-30%) translateY(-70%) translate3d(0px, 522px, 0px);">
      <source src="https://player.vimeo.com/external/151311761.hd.mp4?s=d822d6c8435f9efed362558cc8ac971c571e8c76&profile_id=119">
    </video>
    </div>
</div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Nebula Festival</h2>
      <p class="grey-text text-darken-3 lighten-3">The Nebula Music & Arts festival is the festival that you never got to attend but always wished you had attended.... but guess what?! Now you finally can!!! With more than over 10 stages, it will definitely make you feel out of this world.
      You won't know which one to choose because they will all be so amazing! Always dreamt of seeing your favorite artist? Well now you can simply put in your request on our lineup page, add the artist and when you see artist displayed on our artist page, it means they will be at the Nebula festival to perform! Imagine that! Your own dream line up!</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://i.imgur.com/8YkYluC.jpg"><div class="graffiti">Art by JCorp</div></div>
  </div>
  </main>


  <%- include('../partials/scripts') %>
<p>A play button</p>
  <iframe src="https://play.spotify.com/user/1255912956/playlist/6KRnoVOtsHJObAlUzyJOQf"
  width="300" height="180" frameborder="0" allowtransparency="true">
  </iframe>
</body>
</html>
