<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>

<%- include('../partials/header') %>

  <main>
  <p>This is the line up page</p>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
