<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>

<main>
  <div class="login page">
    <a href="/login" class="waves-effect waves-light btn-large">Log in with Spotify</a>
  </div>

<br>
    <div class="tree"><img src="https://s-media-cache-ak0.pinimg.com/564x/95/2e/6e/952e6e6bc406bf8d8e39a97d4ba9532a.jpg">
    </div>
</br>

</main>



  <%- include('../partials/scripts') %>
</body>
</html>
