<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>


  <main>
  <a href="/login" class="waves-effect waves-light btn-large">Log in with Spotify</a>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
